{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="header" >
			{% block header %}
				<div class="wrapper bg-amarelo-400">
					<nav class="max-w-[1252px] h-20 mx-auto p-0 navbar navbar-expand-lg navbar-light">
						<div class="container-fluid w-full z-10" style="padding-left:0;padding-right:0;">
							<div class="flex">
							<h1 class="hdr-logo navbar-brand p-0" role="banner">
								<a class="hdr-logo-link" href="{{site.url}}" rel="home">
									<img src="{{theme.link}}/static/imagens/logo-header.png" alt="{{site.name}}" width="117" height="80">
								</a>
							</h1>
							<ul class="flex justify-around hidden">
								{# Botão do Bazar #}
								<li class="lg:ml-6 pb-4 lg:pb-0">
									<style>
										.itens-carrinho {
											width: 18px;
											height: 14px;
											font-size: 12px;
											font-weight: 400;
										}
									</style>
									<a class="flex bg-azul-400 text-white font-bold px-4 py-2 rounded-full hover:bg-azul-600 transition-all hover:text-white" href="/loja">
										<span class="inline relative">
											<svg class="block mr-4" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.61021 6.59303V6.45536C6.61021 3.96571 8.2755 1.79191 10.6577 1.17188C11.5383 0.942706 12.4618 0.942706 13.3423 1.17188C15.7245 1.79191 17.3898 3.96571 17.3898 6.45536V6.59303H19.0931C19.7413 6.59303 20.2915 7.07423 20.3855 7.72342L20.6336 9.43749C21.1221 12.8123 21.1221 16.2412 20.6336 19.616C20.3977 21.2457 19.0993 22.5057 17.4806 22.6756L16.767 22.7505C13.5975 23.0832 10.4025 23.0832 7.233 22.7505L6.51943 22.6756C4.90074 22.5057 3.60232 21.2457 3.3664 19.616C2.87787 16.2412 2.87787 12.8123 3.3664 9.43749L3.61453 7.72341C3.7085 7.07423 4.25866 6.59303 4.90689 6.59303H6.61021ZM11.0816 2.84035C11.6841 2.68354 12.3159 2.68354 12.9184 2.84035C14.5483 3.26458 15.6878 4.75192 15.6878 6.45536V6.59303H8.31225V6.45536C8.31225 4.75191 9.45165 3.26458 11.0816 2.84035ZM6.61021 8.31578V10.8999C6.61021 11.3756 6.99122 11.7613 7.46123 11.7613C7.93123 11.7613 8.31225 11.3756 8.31225 10.8999V8.31578H15.6878V10.8999C15.6878 11.3756 16.0688 11.7613 16.5388 11.7613C17.0088 11.7613 17.3898 11.3756 17.3898 10.8999V8.31578H18.751L18.9495 9.68724C19.4141 12.8964 19.4141 16.157 18.9495 19.3662C18.8265 20.2162 18.1493 20.8734 17.305 20.962L16.5914 21.0369C13.5387 21.3574 10.4613 21.3574 7.40857 21.0369L6.695 20.962C5.85073 20.8734 5.17351 20.2163 5.05046 19.3662C4.5859 16.157 4.5859 12.8964 5.05046 9.68724L5.24899 8.31578H6.61021Z" fill="white"/></svg>
											<span class="itens-carrinho absolute -top-1 right-1 bg-bege text-cinza flex items-center justify-center rounded right-0 top-0">56</span>
										</span>
									Bazar</a>
								</li>
								{# end Botão do Bazar #}
								<li class="lg:ml-6">
									<a class="flex bg-vermelho-400 text-white font-bold px-4 py-2 rounded-full hover:bg-vermelho-600 transition-all hover:text-white" href="/doar">
										<svg class="block mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 8.59282C1 4.868 3.97835 2 7.47429 2C9.27637 2 10.8621 2.92709 12 4.12667C13.1379 2.92709 14.7236 2 16.5257 2C20.0216 2 23 4.868 23 8.59282C23 11.1444 22.0083 13.3882 20.6343 15.2849C19.2627 17.1783 17.4685 18.7852 15.7506 20.091C15.0945 20.5897 14.4307 21.0498 13.8232 21.3893C13.2528 21.708 12.5968 22 12 22C11.4032 22 10.7472 21.708 10.1768 21.3893C9.56929 21.0498 8.9055 20.5897 8.24935 20.091C6.53149 18.7852 4.73733 17.1783 3.36572 15.2849C1.99174 13.3882 1 11.1444 1 8.59282ZM7.47429 4.06897C4.86037 4.06897 2.88571 6.17807 2.88571 8.59282C2.88571 10.5287 3.6347 12.331 4.84194 13.9975C6.05156 15.6673 7.6791 17.1406 9.32322 18.3903C9.94535 18.8632 10.5313 19.2655 11.0326 19.5456C11.5709 19.8464 11.8827 19.931 12 19.931C12.1173 19.931 12.4291 19.8464 12.9674 19.5456C13.4687 19.2655 14.0547 18.8632 14.6768 18.3903C16.3209 17.1406 17.9484 15.6673 19.1581 13.9975C20.3653 12.331 21.1143 10.5287 21.1143 8.59282C21.1143 6.17807 19.1396 4.06897 16.5257 4.06897C15.0245 4.06897 13.6227 5.053 12.7475 6.30196C12.569 6.55663 12.2928 6.70588 12 6.70588C11.7072 6.70588 11.431 6.55663 11.2525 6.30196C10.3773 5.053 8.9755 4.06897 7.47429 4.06897Z" fill="white"/></svg>
										Doe
									</a>
								</li>
							</ul>
							</div>
							
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
							</button>
							<div class="bg-amarelo-400 collapse navbar-collapse justify-end md:mt-0 " id="navbarSupportedContent">
								{% include "menu.twig" with {'items': menu.get_items} %}
								<ul class="flex justify-around">
									{# Botão do Bazar #}
									<li class="lg:ml-6 pb-4 lg:pb-0">
										<style>
											.itens-carrinho {
												width: 18px;
												height: 14px;
												font-size: 12px;
												font-weight: 400;
											}
										</style>
										<a class="flex bg-azul-400 text-white font-bold px-4 py-2 rounded-full hover:bg-azul-600 transition-all hover:text-white" href="/loja">
											<span class="inline relative">
												<svg class="block mr-4" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.61021 6.59303V6.45536C6.61021 3.96571 8.2755 1.79191 10.6577 1.17188C11.5383 0.942706 12.4618 0.942706 13.3423 1.17188C15.7245 1.79191 17.3898 3.96571 17.3898 6.45536V6.59303H19.0931C19.7413 6.59303 20.2915 7.07423 20.3855 7.72342L20.6336 9.43749C21.1221 12.8123 21.1221 16.2412 20.6336 19.616C20.3977 21.2457 19.0993 22.5057 17.4806 22.6756L16.767 22.7505C13.5975 23.0832 10.4025 23.0832 7.233 22.7505L6.51943 22.6756C4.90074 22.5057 3.60232 21.2457 3.3664 19.616C2.87787 16.2412 2.87787 12.8123 3.3664 9.43749L3.61453 7.72341C3.7085 7.07423 4.25866 6.59303 4.90689 6.59303H6.61021ZM11.0816 2.84035C11.6841 2.68354 12.3159 2.68354 12.9184 2.84035C14.5483 3.26458 15.6878 4.75192 15.6878 6.45536V6.59303H8.31225V6.45536C8.31225 4.75191 9.45165 3.26458 11.0816 2.84035ZM6.61021 8.31578V10.8999C6.61021 11.3756 6.99122 11.7613 7.46123 11.7613C7.93123 11.7613 8.31225 11.3756 8.31225 10.8999V8.31578H15.6878V10.8999C15.6878 11.3756 16.0688 11.7613 16.5388 11.7613C17.0088 11.7613 17.3898 11.3756 17.3898 10.8999V8.31578H18.751L18.9495 9.68724C19.4141 12.8964 19.4141 16.157 18.9495 19.3662C18.8265 20.2162 18.1493 20.8734 17.305 20.962L16.5914 21.0369C13.5387 21.3574 10.4613 21.3574 7.40857 21.0369L6.695 20.962C5.85073 20.8734 5.17351 20.2163 5.05046 19.3662C4.5859 16.157 4.5859 12.8964 5.05046 9.68724L5.24899 8.31578H6.61021Z" fill="white"/></svg>
												<span class="itens-carrinho absolute -top-1 right-1 bg-bege text-cinza flex items-center justify-center rounded right-0 top-0">56</span>
											</span>
										Bazar online</a>
									</li>
									{# end Botão do Bazar #}
									<li class="lg:ml-6">
										<a class="flex bg-vermelho-400 text-white font-bold px-4 py-2 rounded-full hover:bg-vermelho-600 transition-all hover:text-white" href="/doar">
											<svg class="block mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 8.59282C1 4.868 3.97835 2 7.47429 2C9.27637 2 10.8621 2.92709 12 4.12667C13.1379 2.92709 14.7236 2 16.5257 2C20.0216 2 23 4.868 23 8.59282C23 11.1444 22.0083 13.3882 20.6343 15.2849C19.2627 17.1783 17.4685 18.7852 15.7506 20.091C15.0945 20.5897 14.4307 21.0498 13.8232 21.3893C13.2528 21.708 12.5968 22 12 22C11.4032 22 10.7472 21.708 10.1768 21.3893C9.56929 21.0498 8.9055 20.5897 8.24935 20.091C6.53149 18.7852 4.73733 17.1783 3.36572 15.2849C1.99174 13.3882 1 11.1444 1 8.59282ZM7.47429 4.06897C4.86037 4.06897 2.88571 6.17807 2.88571 8.59282C2.88571 10.5287 3.6347 12.331 4.84194 13.9975C6.05156 15.6673 7.6791 17.1406 9.32322 18.3903C9.94535 18.8632 10.5313 19.2655 11.0326 19.5456C11.5709 19.8464 11.8827 19.931 12 19.931C12.1173 19.931 12.4291 19.8464 12.9674 19.5456C13.4687 19.2655 14.0547 18.8632 14.6768 18.3903C16.3209 17.1406 17.9484 15.6673 19.1581 13.9975C20.3653 12.331 21.1143 10.5287 21.1143 8.59282C21.1143 6.17807 19.1396 4.06897 16.5257 4.06897C15.0245 4.06897 13.6227 5.053 12.7475 6.30196C12.569 6.55663 12.2928 6.70588 12 6.70588C11.7072 6.70588 11.431 6.55663 11.2525 6.30196C10.3773 5.053 8.9755 4.06897 7.47429 4.06897Z" fill="white"/></svg>
											Doe
										</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>

<!--
					<div class="conteudo-menu h-20 flex items-center justify-between max-w-[1252px] mx-auto">
					

							<h1 class="hdr-logo" role="banner">
								<a class="hdr-logo-link" href="{{site.url}}" rel="home">
									<img src="http://placekitten.com/82/20" alt="{{site.name}}">
								</a>
							</h1>

							<nav class="nav-main flex items-center uppercase font-bold" id="nav-main" role="navigation">
								{# Loop do menu #}
								{% include "menu.twig" with {'items': menu.get_items} %}
								{# end Loop do menu #}
								
								<ul class="flex">
									{# Botão do Bazar #}
									<li class="ml-6">
										<style>
											.itens-carrinho {
												width: 18px;
												height: 14px;
												font-size: 12px;
												font-weight: 400;
											}
										</style>
										<a class="flex relative bg-azul-400 text-white px-4 py-2 rounded-full" href="/loja">
											<span class="itens-carrinho absolute bg-bege flex items-center justify-center rounded right-0 top-0">56</span>
											<span class="inline">
												<svg class="block mr-4" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M6.61021 6.59303V6.45536C6.61021 3.96571 8.2755 1.79191 10.6577 1.17188C11.5383 0.942706 12.4618 0.942706 13.3423 1.17188C15.7245 1.79191 17.3898 3.96571 17.3898 6.45536V6.59303H19.0931C19.7413 6.59303 20.2915 7.07423 20.3855 7.72342L20.6336 9.43749C21.1221 12.8123 21.1221 16.2412 20.6336 19.616C20.3977 21.2457 19.0993 22.5057 17.4806 22.6756L16.767 22.7505C13.5975 23.0832 10.4025 23.0832 7.233 22.7505L6.51943 22.6756C4.90074 22.5057 3.60232 21.2457 3.3664 19.616C2.87787 16.2412 2.87787 12.8123 3.3664 9.43749L3.61453 7.72341C3.7085 7.07423 4.25866 6.59303 4.90689 6.59303H6.61021ZM11.0816 2.84035C11.6841 2.68354 12.3159 2.68354 12.9184 2.84035C14.5483 3.26458 15.6878 4.75192 15.6878 6.45536V6.59303H8.31225V6.45536C8.31225 4.75191 9.45165 3.26458 11.0816 2.84035ZM6.61021 8.31578V10.8999C6.61021 11.3756 6.99122 11.7613 7.46123 11.7613C7.93123 11.7613 8.31225 11.3756 8.31225 10.8999V8.31578H15.6878V10.8999C15.6878 11.3756 16.0688 11.7613 16.5388 11.7613C17.0088 11.7613 17.3898 11.3756 17.3898 10.8999V8.31578H18.751L18.9495 9.68724C19.4141 12.8964 19.4141 16.157 18.9495 19.3662C18.8265 20.2162 18.1493 20.8734 17.305 20.962L16.5914 21.0369C13.5387 21.3574 10.4613 21.3574 7.40857 21.0369L6.695 20.962C5.85073 20.8734 5.17351 20.2163 5.05046 19.3662C4.5859 16.157 4.5859 12.8964 5.05046 9.68724L5.24899 8.31578H6.61021Z" fill="white"/>
												</svg>
											</span>
										Bazar</a>
									</li>
									{# end Botão do Bazar #}
									<li class="ml-6">
									
										{# Modal Doar #}
										<div id="modalDoar" class="modal fade" tabindex="-1">
											<div class="modal-dialog modal-dialog-scollable modal-fullscreen-md-down">
												<div class="modal-content">
													<div class="modal-header"><h4 class="modal-title">Faça uma doação</h4>
													<button class="btn-close" data-bs-dismiss="modal"></button>
												</div>
												<div class="modal-body">
													<ul>
														<li>bla bla bla</li>
														<li>bla bla bla</li>
													</ul>
												</div>
												<div class="modal-footer">
													<button class="btn btn-primary">Doar</button>
												</div>
												</div>
											</div>
										</div>
										{# end Modal Doar #}
										<a class="flex bg-vermelho-400 text-white px-4 py-2 rounded-full" href="/doar"
											data-bs-toggle="modal"
											data-bs-target="#modalDoar">
											<svg class="block mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M1 8.59282C1 4.868 3.97835 2 7.47429 2C9.27637 2 10.8621 2.92709 12 4.12667C13.1379 2.92709 14.7236 2 16.5257 2C20.0216 2 23 4.868 23 8.59282C23 11.1444 22.0083 13.3882 20.6343 15.2849C19.2627 17.1783 17.4685 18.7852 15.7506 20.091C15.0945 20.5897 14.4307 21.0498 13.8232 21.3893C13.2528 21.708 12.5968 22 12 22C11.4032 22 10.7472 21.708 10.1768 21.3893C9.56929 21.0498 8.9055 20.5897 8.24935 20.091C6.53149 18.7852 4.73733 17.1783 3.36572 15.2849C1.99174 13.3882 1 11.1444 1 8.59282ZM7.47429 4.06897C4.86037 4.06897 2.88571 6.17807 2.88571 8.59282C2.88571 10.5287 3.6347 12.331 4.84194 13.9975C6.05156 15.6673 7.6791 17.1406 9.32322 18.3903C9.94535 18.8632 10.5313 19.2655 11.0326 19.5456C11.5709 19.8464 11.8827 19.931 12 19.931C12.1173 19.931 12.4291 19.8464 12.9674 19.5456C13.4687 19.2655 14.0547 18.8632 14.6768 18.3903C16.3209 17.1406 17.9484 15.6673 19.1581 13.9975C20.3653 12.331 21.1143 10.5287 21.1143 8.59282C21.1143 6.17807 19.1396 4.06897 16.5257 4.06897C15.0245 4.06897 13.6227 5.053 12.7475 6.30196C12.569 6.55663 12.2928 6.70588 12 6.70588C11.7072 6.70588 11.431 6.55663 11.2525 6.30196C10.3773 5.053 8.9755 4.06897 7.47429 4.06897Z" fill="white"/>
											</svg>
										Doar</a>
									</li>
								</ul>
							</nav>

					</div>
-->
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	</body>
</html>
