{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="container mx-auto py-24">

			<!-- Expressão e criatividade -->
			<div class="max-w-5xl mx-auto mb-10 flex flex-col md:flex-row md:justify-around">
				<div class="card md:w-4/12 my-6 md:order-2 text-center">
					<img class="max-w-[259px] mb-4 inline" src="{{theme.link}}/static/imagens/logo-azul.png" alt="">
				</div>
				<div class="card md:w-6/12 md:pl-12 my-6 md:order-1">
					<h3 class="text-marrom text-center md:text-left text-4xl font-medium mb-4">Expressão da criatividade</h3>
					<p class="text-cinza text-center md:text-left">Trabalhar atividades que transitam na experimentação do desenho, colagem, linhas, formas, pinturas e texturas com materiais e técnicas variadas.</p>
				</div>
			</div>

			<!-- Pedaços Coloridos / Cor e Vida -->
			<div class="max-w-5xl mx-auto flex justify-around flex-wrap">
				<div class="card max-w-[442px] my-6">
					<h3 class="text-marrom text-center text-3xl font-medium mb-4">Pedaços Coloridos</h3>
					<img class="w-full mb-4" src="{{theme.link}}/static/imagens/pedados-coloridos.jpg" alt="">
					<p class="text-center text-cinza">Oficina de mosaico aplicando diferentes técnicas com pastilhas de vidro e azulejos em diferentes bases e objetos em madeira, vidro, parede.</p>
					<div class="flex justify-center">
						<a href="" class="m-auto btn mt-4 px-8 py-2 rounded-full bg-azul-400 hover:bg-azul-600 transition-all text-white font-bold hover:text-white">QUERO PARTICIPAR</a>
					</div>
				</div>
				<div class="card max-w-[442px] my-6">
					<h3 class="text-marrom text-center text-3xl font-medium mb-4">Cor e Vida</h3>
					<img class="w-full mb-4" src="{{theme.link}}/static/imagens/cor-e-vida.jpg" alt="">
					<p class="text-center text-cinza">Oficina de pintura com técnicas, tintas e materiais variados.</p>
					<div class="flex justify-center">
						<a href="" class="m-auto btn mt-4 px-8 py-2 rounded-full bg-azul-400 hover:bg-azul-600 transition-all text-white font-bold hover:text-white">QUERO PARTICIPAR</a>
					</div>
				</div>
			</div>

			<!-- Arte da interpretação -->
			<div class="max-w-5xl mx-auto my-10 md:flex md:justify-around">
				<div class="card md:w-4/12 my-6 text-center">
					<img class="max-w-[259px] md:w-full mb-4 inline" src="{{theme.link}}/static/imagens/logo-vermelho.png" alt="">
				</div>
				<div class="card md:w-6/12 md:pl-12 my-6">
					<h3 class="text-marrom text-center md:text-left text-4xl font-medium mb-4">Arte da interpretação</h3>
					<p class="text-cinza text-center md:text-left">Conhecer e desenvolver as técnicas de interpretação teatral, estimular a consciência do corpo e memória, através de jogos teatrais, improvisação e composição de sequências dramáticas.</p>
					<p class="text-cinza text-center md:text-left">Explorar movimentos, plasticidade do corpo em relação a espaço, peso, tempo, ritmo com diferentes técnicas.</p>
				</div>
			</div>

			<!-- O Palco é Nosso / Entre nessa Dança -->
			<div class="max-w-5xl mx-auto flex justify-around flex-wrap">
				<div class="card max-w-[442px] my-6">
					<h3 class="text-marrom text-center text-3xl font-medium mb-4">O Palco é Nosso</h3>
					<img class="w-full mb-4" src="{{theme.link}}/static/imagens/palco-nosso.jpg" alt="">
					<p class="text-center text-cinza">Oficina de teatro com aprendizado de técnicas cênicas para nível iniciante ou avançado. É um momento que promove o auto conhecimento e confiança, comunicação e desenvoltura.</p>
					<div class="flex justify-center">
						<a href="" class="m-auto btn mt-4 px-8 py-2 rounded-full bg-laranja-400 hover:bg-laranja-600 transition-all text-white font-bold hover:text-white">QUERO PARTICIPAR</a>
					</div>
				</div>
				<div class="card max-w-[442px] my-6">
					<h3 class="text-marrom text-center text-3xl font-medium mb-4">Entre nessa Dança</h3>
					<img class="w-full mb-4" src="{{theme.link}}/static/imagens/danca.jpg" alt="">
					<p class="text-center text-cinza">Oficinas de dança nos mais diversos ritmos. Combate o estresse, melhora a coordenação motora e aumenta a auto estima.</p>
					<div class="flex justify-center">
						<a href="" class="m-auto btn mt-4 px-8 py-2 rounded-full bg-laranja-400 hover:bg-laranja-600 transition-all text-white font-bold hover:text-white">QUERO PARTICIPAR</a>
					</div>
				</div>
			</div>

			<!-- Estímulo sensorial -->
			<div class="max-w-5xl mx-auto my-10 flex flex-col md:flex-row md:justify-around">
				<div class="card md:w-4/12 my-6 md:order-2 text-center">
					<img class="max-w-[259px] md:w-full mb-4 inline" src="{{theme.link}}/static/imagens/logo-amarelo.png" alt="">
				</div>
				<div class="card md:w-6/12 md:pl-12 my-6 md:order-1">
					<h3 class="text-marrom text-center md:text-leftv text-4xl font-medium mb-4">Estímulo sensorial</h3>
					<p class="text-cinza text-center md:text-left">Conhecer os fundamentos musicais, diferentes ritmos, compassos e harmonias. As práticas musicais podem ser voltadas a um instrumento, voz e percussão.</p>
				</div>
			</div>

			<!-- Som e Alma -->
			<div class="max-w-5xl mx-auto flex justify-around flex-wrap">
				<div class="card max-w-[442px] my-6">
					<h3 class="text-marrom text-center text-3xl font-medium mb-4">Som e Alma</h3>
					<img class="w-full mb-4" src="{{theme.link}}/static/imagens/som-e-alma.jpg" alt="">
				</div>
				<div class="card max-w-[442px] my-6 flex flex-col justify-center">
					<p class="text-center text-cinza">Oficinas de música e canto para motivação pessoal, estimula a memória e traz bem estar.</p>
					<div class="flex justify-center">
						<a href="" class="m-auto btn mt-4 px-8 py-2 rounded-full bg-amarelo-400 hover:bg-amarelo-600 transition-all text-white font-bold hover:text-white">QUERO PARTICIPAR</a>
					</div>
				</div>
			</div>
			
			<!-- Sob demanda -->
			<div class="max-w-5xl mx-auto flex justify-center">
				<div class="card max-w-[428px] my-6">
					<h3 class="text-marrom text-center text-4xl font-medium mb-4">Som e Alma</h3>
					<p class="text-center text-cinza">Todas nossas atividades artísticas, podem ser praticadas fora de nossa sede, ou seja, mais perto dos usuários ou da comunidade, quando assim for mais viável.</p>
					<div class="flex justify-center">
						<a href="" class="m-auto btn mt-4 px-8 py-2 rounded-full bg-azul-400 hover:bg-azul-600 transition-all text-white font-bold hover:text-white">QUERO PARTICIPAR</a>
					</div>
				</div>
			</div>

		</div>		
	</div><!-- /content-wrapper -->
{% endblock %}